body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
}
.container {
    width: 60% ;
    max-width: 600px;
    padding: 20px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #03c931;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);

}

.inputSpace {
  margin-right: 40px;
}

p {
    color: #fff;
    font-size: 26px;
    margin: 10px 0 10px 0;
}

input{
    width: 100%;
    max-width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    color: #000;
    font-size: 19px;
}

button {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    font-size: 18px;

}

.res{
    color: #fff;
    font-size: 22px;
    margin-top: 10px;
}

.hide {
    display: none;
}

@media (min-width: 380px){

    h1 {
        font-size: 36px;
    }
    p {
        font-size: 30px;
        margin-left: 30px;
    }
   input {
    width: 100px;
    padding-left: 50px;
   }
    button {
        width: 110px;
        margin-right: 40px;
    }
}

@media (min-width:580px){
    h1 {
        font-size: 24px;

    }

    input {
        width: 150px;
        padding-left: 70px;
    }
    button {
        width: 140px;
        margin-right: 60px;
    }

    .container {
        width: 90%;
        max-width: 450px;
    }
}

@media (min-width: 768px){
    h1 {
        font-size: 32px;
    }
    
    .container {
        width: 90%;
        max-width: 500px;
    }
}

@media (min-width: 1024px){

    h1 {
        font-size: 40px;
    }

   


    .container {
        width: 100%;
        max-width: 600px;
    }
}